<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyTestSDK.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04774A3B1DB46EC100F46FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04774A541DB46EC300F46FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04774A5F1DB46EC300F46FF1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
